#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
    background-color: #4054b2;
    color: #ffffff;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay,
  #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items.pojo-a11y-links {
    border-color: #4054b2;
  }

  body.pojo-a11y-focusable a:focus {
    outline-style: solid !important;
    outline-width: 1px !important;
    outline-color: #FF0000 !important;
  }

  #pojo-a11y-toolbar {
    top: 30px !important;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay {
    background-color: #ffffff;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a,
  #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay p.pojo-a11y-toolbar-title {
    color: #333333;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a.active {
    background-color: #4054b2;
    color: #ffffff;
  }

  @media (max-width: 767px) {
    #pojo-a11y-toolbar {
      top: 50px !important;
    }
  }
  .search-toggle-li {
    display: none !important
  }

  header {
    z-index: 999 !important
  }

  #site-logo #site-logo-inner a img {
    -webkit-transition: none !important
  }

  /* FORMULÃRIO */
  .gform_wrapper.gravity-theme .gfield_header_item,
  .gform_wrapper.gravity-theme .gform_fileupload_rules,
  .gform_wrapper.gravity-theme .ginput_complex label {
    font-size: 12px !important;
    padding-top: 0 !important;
    margin-top: -3px
  }

  .elementor-widget-eael-gravity-form .eael-gravity-form .gfield.gsection .gsection_title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -1px !important;
    margin-top: 20px
  }

  .gform_wrapper.gravity-theme .description,
  .gform_wrapper.gravity-theme .gfield_description,
  .gform_wrapper.gravity-theme .gsection_description,
  .gform_wrapper.gravity-theme .instruction {
    font-size: 14px !important;
    padding-top: 0 !important;
    width: 100%
  }

  div[vw] {
    position: fixed;
    max-width: 95vw;
    right: 20px;
    top: 0;
    margin-top: 6vh
  }

  /* Header CSS */
  #site-logo #site-logo-inner,
  .oceanwp-social-menu .social-menu-inner,
  #site-header.full_screen-header .menu-bar-inner,
  .after-header-content .after-header-content-inner {
    height: 80px
  }

  #site-navigation-wrap .dropdown-menu>li>a,
  .oceanwp-mobile-menu-icon a,
  .mobile-menu-close,
  .after-header-content-inner>a {
    line-height: 80px
  }

  #site-header-inner {
    padding: 10px 0 10px 0
  }

  #site-header.has-header-media .overlay-header-media {
    background-color: rgba(255, 255, 255, 0)
  }

  #site-logo #site-logo-inner a img,
  #site-header.center-header #site-navigation-wrap .middle-site-logo a img {
    max-width: 200px
  }

  #site-header #site-logo #site-logo-inner a img,
  #site-header.center-header #site-navigation-wrap .middle-site-logo a img {
    max-height: 100px
  }

  .effect-one #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after,
  .effect-three #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after,
  .effect-five #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:before,
  .effect-five #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after,
  .effect-nine #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:before,
  .effect-nine #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after {
    background-color: #04d3a3
  }

  .effect-four #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:before,
  .effect-four #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after,
  .effect-seven #site-navigation-wrap .dropdown-menu>li>a.menu-link:hover>span:after,
  .effect-seven #site-navigation-wrap .dropdown-menu>li.sfHover>a.menu-link>span:after {
    color: #04d3a3
  }

  .effect-seven #site-navigation-wrap .dropdown-menu>li>a.menu-link:hover>span:after,
  .effect-seven #site-navigation-wrap .dropdown-menu>li.sfHover>a.menu-link>span:after {
    text-shadow: 10px 0 #04d3a3, -10px 0 #04d3a3
  }

  .effect-two #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after,
  .effect-eight #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:before,
  .effect-eight #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after {
    background-color: rgba(255, 255, 255, 0.1)
  }

  .effect-six #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:before,
  .effect-six #site-navigation-wrap .dropdown-menu>li>a.menu-link>span:after {
    border-color: rgba(255, 255, 255, 0.1)
  }

  .effect-ten #site-navigation-wrap .dropdown-menu>li>a.menu-link:hover>span,
  .effect-ten #site-navigation-wrap .dropdown-menu>li.sfHover>a.menu-link>span {
    -webkit-box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.1)
  }

  #site-navigation-wrap .dropdown-menu>li>a {
    padding: 0 50px
  }

  #site-navigation-wrap .dropdown-menu>li>a,
  .oceanwp-mobile-menu-icon a,
  #searchform-header-replace-close {
    color: #ffffff
  }

  #site-navigation-wrap .dropdown-menu>li>a .owp-icon use,
  .oceanwp-mobile-menu-icon a .owp-icon use,
  #searchform-header-replace-close .owp-icon use {
    stroke: #ffffff
  }

  #site-navigation-wrap .dropdown-menu>li>a:hover,
  .oceanwp-mobile-menu-icon a:hover,
  #searchform-header-replace-close:hover {
    color: #05e2b6
  }

  #site-navigation-wrap .dropdown-menu>li>a:hover .owp-icon use,
  .oceanwp-mobile-menu-icon a:hover .owp-icon use,
  #searchform-header-replace-close:hover .owp-icon use {
    stroke: #05e2b6
  }

  #site-navigation-wrap .dropdown-menu>.current-menu-item>a,
  #site-navigation-wrap .dropdown-menu>.current-menu-ancestor>a,
  #site-navigation-wrap .dropdown-menu>.current-menu-item>a:hover,
  #site-navigation-wrap .dropdown-menu>.current-menu-ancestor>a:hover {
    color: #05e2b6
  }

  .dropdown-menu .sub-menu,
  #searchform-dropdown,
  .current-shop-items-dropdown {
    border-color: #05e2b6
  }

  .oceanwp-social-menu ul li a {
    padding: 0
  }

  .oceanwp-social-menu ul li a {
    margin: 0
  }

  /* Header Image CSS */
  #site-header {
    background-image: url(./fundo-geral.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }

  /* Footer Widgets CSS */
  #footer-widgets {
    padding: 20px 0 30px 0
  }

  #footer-widgets {
    background-color: #ffffff
  }

  #footer-widgets .footer-box a:hover,
  #footer-widgets a:hover {
    color: #ffffff
  }

  /* Footer Bottom CSS */
  #footer-bottom {
    background-color: #000000
  }

  #footer-bottom,
  #footer-bottom p {
    color: #ffffff
  }

  #footer-bottom a:hover,
  #footer-bottom #footer-bottom-menu a:hover {
    color: #ffffff
  }

  /* Typography CSS */
  body {
    font-family: Roboto;
    font-size: 16px;
    color: #0a0a0a
  }

  #site-navigation-wrap .dropdown-menu>li>a,
  #site-header.full_screen-header .fs-dropdown-menu>li>a,
  #site-header.top-header #site-navigation-wrap .dropdown-menu>li>a,
  #site-header.center-header #site-navigation-wrap .dropdown-menu>li>a,
  #site-header.medium-header #site-navigation-wrap .dropdown-menu>li>a,
  .oceanwp-mobile-menu-icon a {
    font-family: Heebo;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase
  }

  .dropdown-menu ul li a.menu-link,
  #site-header.full_screen-header .fs-dropdown-menu ul.sub-menu li a {
    font-family: Roboto;
    font-size: 16px;
    line-height: 2.5
  }